@tailwind utilities;

html,
body {
    cursor: default;
    padding: 0;
    margin: 0;

    @apply bg-dark-700;
    @apply text-dark-50;

    overscroll-behavior-y: none;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

img,
a {
    -webkit-user-drag: none;
    text-decoration: none;
}
