/* @tailwind base;
@tailwind components; */
@tailwind utilities;

html,
body {
    cursor: default;
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    @apply bg-dark-700;
    @apply text-dark-50;
}

img,
a {
    -webkit-user-drag: none;
}
